In [204]:
import pandas as pd
df = pd.read_csv("solicitudes_credito.csv", sep=";")

In [205]:
del df['Unnamed: 0']
df = df.dropna().drop_duplicates()

In [206]:
df['sexo'] = df['sexo'].apply(str.lower)
df['tipo_de_emprendimiento'] = df['tipo_de_emprendimiento'].apply(str.lower)
df['idea_negocio'] = df['idea_negocio'].apply(lambda x: x.lower().replace('_', ' ').replace('-', ' '))
df['barrio'] = df['barrio'].apply(lambda x: x.lower().replace('_', '-').replace('-', ' '))
df['línea_credito'] = df['línea_credito'].apply(lambda x: x.lower().replace('_', ' ').replace('-', ' '))

In [207]:
df['monto_del_credito'] = df['monto_del_credito'].str.replace(',', '').str.replace('$', '', regex=False).str.replace(' ', '').astype(float)
df['fecha_de_beneficio'] = pd.to_datetime(df['fecha_de_beneficio'], dayfirst=True)
df = df.drop_duplicates().dropna()
df.reset_index(drop = True)

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,charcuteria,manrique central no. 2,1,3.0,2017-12-28,7000000.0,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12.0,2018-03-16,7000000.0,microempresarial
2,masculino,comercio,tienda,belen,3,16.0,2018-02-14,7800000.0,microempresarial
3,masculino,servicio,organización y,robledo,2,7.0,2016-09-08,1500000.0,microempresarial
4,masculino,servicio,comidas rapidas,20 de julio,2,13.0,2016-12-20,3000000.0,microempresarial
...,...,...,...,...,...,...,...,...,...
10201,femenino,comercio,almacen de ropa en,campo valdes no. 1,3,4.0,2018-07-04,2000000.0,microempresarial
10202,femenino,comercio,cafeteria,la america,3,12.0,2018-03-20,5000000.0,microempresarial
10203,femenino,industria,cafeteria,santo domingo savio,1,1.0,2018-06-22,1000000.0,microempresarial
10204,femenino,comercio,almacen de ropa en,caribe,3,5.0,2019-02-27,8281000.0,microempresarial
10205,femenino,servicio,fabrica de alimentos,andalucia,2,2.0,2017-06-08,30000000.0,empresarial ed.

In [208]:
df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,charcuteria,manrique central no. 2,1,3.0,2017-12-28,7000000.0,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12.0,2018-03-16,7000000.0,microempresarial
2,masculino,comercio,tienda,belen,3,16.0,2018-02-14,7800000.0,microempresarial
3,masculino,servicio,organización y,robledo,2,7.0,2016-09-08,1500000.0,microempresarial
4,masculino,servicio,comidas rapidas,20 de julio,2,13.0,2016-12-20,3000000.0,microempresarial
...,...,...,...,...,...,...,...,...,...
10913,femenino,comercio,almacen de ropa en,campo valdes no. 1,3,4.0,2018-07-04,2000000.0,microempresarial
10914,femenino,comercio,cafeteria,la america,3,12.0,2018-03-20,5000000.0,microempresarial
10915,femenino,industria,cafeteria,santo domingo savio,1,1.0,2018-06-22,1000000.0,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5.0,2019-02-27,8281000.0,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2.0,2017-06-08,30000000.0,empresarial ed.

In [209]:
Grupos = df['sexo'].value_counts().to_list()
Grupos

[6617, 3589]